@inherits LayoutComponentBase

<PageTitle>Device Operations</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.jendamark.co.za/" target="_blank">Jendamark Automation</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

