@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Jendamark</h1>
<h2>Device Operations: Assembly Line Manager</h2>

<p>
    Jendamark Automation stays ahead of global automotive sector requirements by
    looking beyond the horizon and designing tomorrow’s production facilities today.
</p>

<p>
    Our Company
    From specialised machine builder to global tech company, Jendamark Automation continues to drive forward-thinking tech solutions and improve production line efficiencies for the automotive industry.
    Jendamark Automation has an international presence in South Africa, India and Germany and a sales office in the USA. This global reach allows Jendamark to serve customers worldwide and offer round-the-clock service support.
</p>

<p>
    Jendamark South Africa
    Jendamark has its global head office in the coastal city of Port Elizabeth, with satellite offices in Pretoria and East London.
    For almost three decades, Jendamark has been growing an internationally respected brand by delivering world-class turnkey production solutions.
    We pride ourselves on being the best in our core manufacturing focus areas of powertrain and catalytic converter assembly systems.
    With the rise of the Fourth Industrial Revolution, we have expanded our digital manufacturing technologies and also ventured into power electronics assembly systems for the electric vehicle market.
</p>



